/* ApiDataTable.css */

.api-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.api-table th, .api-table td {
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: left;
}

.api-table th {
  background-color: #f2f2f2;
}

.api-table td {
  background-color: #ffffff;
}

.api-table tr:hover {
  background-color: #f5f5f5;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* register form  */

.register-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-page h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical; /* Allow vertical resize */
  height: 80px; /* Set initial height */
}

.form-group select {
  width: calc(100% - 19px); /* Adjust width for select element */
}

.form-group input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.form-group input.error,
.form-group select.error,
.form-group textarea.error {
  border-color: red;
}

